.heading {
    text-align: center;
    text-decoration: underline;
}

.container {
    margin: 20px auto;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 2px solid red;
}

li {
    list-style: none;
}

.left {
    position: absolute;
    top: 15%;
    left: 3%;
}

.right {
    position: absolute;
    top: 111px;
    right: 3%;
}

.btn {
    position: absolute;
    top: 35%;
    left: 47%;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: blueviolet;
    color: rgb(0, 0, 2);
}